{% extends 'base_admin.html' %}
{% block titulo %}
Biblioteca.dev | Listado de Usuarios
{% endblock titulo %}

{% block body %}
{% if object_list %}
<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-md-8">
                <strong class="card-title">Listado de Usuarios</strong>
            </div>
            <div class="col-md-4">
                <a href="{% url 'usuarios:registrar_usuario' %}" class="btn btn-primary">Registrar un usuario</a>
            </div>
        </div>
    </div>
    <div class="table-stats order-table ov-h">
        <table id="tabla_usuarios" class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>#</th>
                    <th>Username</th>
                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th>Email</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody>
              {% for usuario in object_list %}
              <tr>
                <td>{{usuario.id}}</td>
                <td>{{usuario.username}}</td>
                <td>{{usuario.nombres}}</td>
                <td>{{usuario.apellidos}}</td>
                <td>{{usuario.email}}</td>
                <td>
                    <a href="{% url 'usuarios:editar_usuario' usuario.id %}" class="btn btn-primary">Editar</a>
                    <a href="{% url 'usuarios:eliminar_usuario' usuario.id %}" class="btn btn-danger">Eliminar</a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% else %}
<h1>NO EXISTEN USUARIOS REGISTRADOS </h1>
{% endif %}
{% endblock body %}
