{% extends 'base.html' %}
{% block content %}
<div class="col">
  <h2>Login</h2>
  <!-- creacion del formulario -->
  <form method="post">
    {% csrf_token %}
    <div class="frorm-group">
      {% if form.error_messages %}
          <div class="alert {% if message.tags == 'success' %}alert-success{%else%}alert-danger{% endif %}">
            <button type="button" class="close" data-dismiss="alert">x</button>
            <strong>Advertencia: </strong> {{form.get_invalid_login_error}}
          </div>
      {% endif %}
      <label for="username">Username</label>
      <input type="text" name="username" class="form-control">
    </div>
    <div class="frorm-group">
      <label for="password">Password</label>
      <input type="password" name="password" class="form-control">
    </div>
    <br/>
    <button type="submit" class="btn btn-primary">Login</button>
  </form>
</div>
{% endblock %}
