{% extends 'base_admin.html' %}
{% block titulo %}
Biblioteca.dev | Listado de Atractivos Culturales
{% endblock titulo %}
{% block body %}
{% if object_list %}
<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-md-8">
                <strong class="card-title">Listado de Atractivos Culturales</strong>
            </div>
            <div class="col-md-4">
                <a href="{% url 'atractivos_culturales:registrar_atractivo' %}" class="btn btn-primary">Registrar Atractivos Culturales</a>
            </div>
        </div>
    </div>
    <div class="table-stats order-table ov-h table-responsive-sm" >
        <table id="tabla_atractivos_culturales" class="table table-hover" >
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Direccion</th>
                    <th scope="col">Longitud</th>
                    <th scope="col">Latitud</th>
                    <th scope="col">Imagen</th>
                    <th scope="col">Tipo</th>
                    <th scope="col">Opciones</th>
                </tr>
            </thead>
            <tbody>
              {% for atractivo in object_list %}
              <tr>
                <td>{{atractivo.nombre}}</td>
                <td>{{atractivo.direccion}}</td>
                <td>{{atractivo.longitud}}</td>
                <td>{{atractivo.latitud}}</td>
                <td>
                    {% if atractivo.imagen %}
                      <img src="{{atractivo.imagen.url}}" alt="img">
                    {% endif %}
                </td>
                <td>{{atractivo.tipo_id}}</td>
                <td>
                    <a href="{% url 'atractivos_culturales:editar_atractivo' atractivo.id %}" class="btn btn-primary">Editar</a>
                    <a href="{% url 'atractivos_culturales:eliminar_atractivo' atractivo.id %}" class="btn btn-danger">Eliminar</a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% else %}
<h1>NO EXISTEN ATRACTIVOS CULTURALES REGISTRADOS </h1>
{% endif %}
{% endblock body %}
