{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/style_agenda.css'%}">
{% endblock %}

{% block content %}
<div class="container-fluid">
    <h1 class="font text-center ">Agenda de actividades</h1>
</div>
    <div class="calendar disable-selection" id="calendar">
        <div class="left-side">
            <div class="current-day text-center">
                <h1 class="calendar-left-side-day"></h1>
                <div class="calendar-left-side-day-of-week"></div>
            </div>
            <div class="current-day-events">
                <div>Eventos:</div>
                <ul class="current-day-events-list"></ul>
            </div>
            <div class="add-event-day">
                <span class="add-event-day-field-btn"></span>
            </div>
        </div>
        <div class="right-side">
            <div class="text-right calendar-change-year">
                <div class="calendar-change-year-slider">
                    <span class="fa fa-caret-left calendar-change-year-slider-prev"></span>
                    <span class="calendar-current-year"></span>
                    <span class="fa fa-caret-right calendar-change-year-slider-next"></span>
                </div>
            </div>
            <div class="calendar-month-list">
                <ul class="calendar-month"></ul>
            </div>
            <div class="calendar-week-list">
                <ul class="calendar-week"></ul>
            </div>
            <div class="calendar-day-list">
                <ul class="calendar-days"></ul>
            </div>
        </div>
    </div>


{% endblock %}

{% block javascript %}
  <script src="{% static 'js/agenda/calendario.js'%}"></script>
{% endblock %}
